.app-root {
    display: flex;
    justify-content: space-between;
    padding: 10px 2% 0 2%;
    flex-wrap: wrap;
}
.mat-divider{
    width: 95%;
}

@media screen and (min-width: 992px) {
    .person-grid-container {
        display: grid;
        width: max-content;
        padding-top: 2%;
        grid-template-rows: auto auto auto;
        grid-auto-flow: column;
        column-gap: 2.5rem !important;
        row-gap: 4rem !important;
    }
}

@media screen and (max-width: 992px) {
    .app-root {
        padding: 10px 2% 0 5%;
        flex-wrap: wrap;
    }
    .person-grid-container {
        display: grid;
        grid-template-columns: auto;
        column-gap: 8px !important;
        row-gap: 1rem !important;
    }
}
